body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("images/download.jpeg");
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 500px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

header {
	background-image: url("images/image.jpg");
	color: white;
	text-align: center;
	padding: 1rem 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
}

.task-form {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	
}

.task-list {
	border: 1px solid #ddd;
	padding: 10px;
	background-color: lightblue;
}

.task-item {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	background-color: yellow;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item span {
	display: block;
	margin-bottom: 8px;
}


.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	 background-color: yellow;
}

.task button {
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	border-radius: 3px;
}
